body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}


header#topHeader {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
}

#logo {
    display: flex;
    justify-content: center;

}

#logo img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    height: 40%;

}

#selectorsWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

select {
    width: 80px;
    height: 25px;
    background-color: #2C4359;
    /*#26323F dark blue*/
    color: white;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    white-space: normal;
}

#searchField {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100px;
    
}

#searchButton {
    background-color: #ED4D4D;
    color: white;
    padding: 8px 8px 8px 8px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.5em;
    cursor: pointer;
}

#smallerScreenSearch {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
    
}

#biggerScreenSearch {
    display: none;
}

#showSavedAdsWrapper {
    float: right;
    margin-top: 5%;
    width: 40%;
}

button#showSavedAds {
    border: none;
    outline: none;
    background: #ED4D4D;
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.4em;
    cursor: pointer;
}

.wrapper {
    width: 100wh;
    height: 100vh;
    margin-top: 20px;
}

#topHeader {
    background-color: #2C4359;
    width: 100%;

}


h1,
h2,
h3,
h4 {
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


#adContainer {
    /*border: 1px solid rgb(46, 46, 46);*/
    margin: 50px;
    margin-top: 80px;
    padding: 30px;
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    white-space: normal;
}


#adContainer > h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    white-space: normal;
}

a {
    color: #ED4D4D;
}
#totalJobsWrapper{
    margin-left: 50px;
    margin-bottom: -20px;
    border: solid white;
    width: 100%;
    margin-top: 10%;
}

#totalJobsWrapper > h2 {
    padding-top: 20px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 0.8em;
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    white-space: normal;
}


#adContainer > p {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    white-space: normal;
}


#paginationContainer {
    margin: auto;
    text-align: center;
}

.firstLastButton {
    letter-spacing: -3px;
    font-size: 0.8em;
}

.activePaginationButton {
    border-bottom: 3px solid red;
}

.saveAdClass {
     color: #ED4D4D;
     border-bottom: 1px solid #ED4D4D;
    
}



@media screen and (min-width: 768px) {
    #smallerScreenSearch {
        display: none;
    }
    #biggerScreenSearch {
        display: contents;
    }
    #searchButton {
        margin-right: 5%;
    }
    #searchField {
        margin-left: -2%;
        width: 100px;
        
    }
    .right {
        border-top: none;
        border-left: solid #2C4359;
        padding-left: 10px;
    }

    select {
        width: 150px;
        margin-right: 5%;
    }
    

    #totalJobsWrapper {
    padding: none;
    width: 40%;
    height: 70px;
    
    
}
    #showSavedAdsWrapper {
        width: 40%;
        height: 70px;
        margin-top: 10%;
        margin-right: 50px;
        padding-top:10px;
}
    #totalJobsWrapper > h2{
        padding: 0px;
    }
    
    
}


@media screen and (min-width: 900px) {
    select {
        width: 170px;
        
    }

}

@media screen and (min-width: 1024px) {
    select {
        width: 250px;
    }
    
    #showSavedAdsWrapper {
        margin-right: 25%;
}
    

}
